---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋 Hello!</h1>
			<p>
				Sorry, for the appearance. I'm undergoing a reimagination of my online presence.
			</p>
			<p><b>Cheers,</b><br><i>Dustin Delatore</i></p>
		</main>
		<Footer />
	</body>
</html>
