---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Dustin Delatore. All rights reserved.</p>
	<p>
	   <a href="/privacy">Privacy</a>
        <span aria-hidden="true">&nbsp;♲&nbsp;</span>
        <a href="/terms">Terms</a>
	</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
	p + p {
	   margin-top: 0;
    }
</style>
