---
const { title, description } = Astro.props;
---

<header>
	<h2>{title}</h2>
	<h3>I'm good at <code is:raw>{ this }</code></h3>
	<nav>
		<a href="https://twitter.com/whos_dustin" target="_blank">Twitter</a>
		<a href="https://github.com/whosdustin" target="_blank">GitHub</a>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0 0;
	}
	h3 {
		margin: 0 0 0.5em;
		font-weight: 300;
	}
</style>
